<h3>Info</h3>
<div class="card " style="margin-top:10px;">
  <div class="card-header text-xs-center">
    Vendor
  </div>
  <div class="card-block">

    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Title</label>
      <div class="col-xs-10">
        <label class="form-control" id="example-text-input"><%= @vendor.title %></label>

      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-xs-2 col-form-label">Link</label>

      <div class="col-xs-10  ">
        <label class="form-control" id="example-text-input"><a href="<%= @vendor.link %>"><%= @vendor.link %></a></label>

      </div>
    </div>
  </div>




  <div class="card-footer text-muted text-xs-center">
    <%= link_to 'Edit', edit_vendor_path(@vendor) %> |
    <%= link_to 'Back', vendors_path %>
  </div>
</div>



<hr/>


<h3>Logo</h3>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="card  text-xs-center">
      <div class="card-header text-xs-center">
        Preview
      </div>
      <div class="card-block">
        <img src="<%= @vendor.logo.url(:medium) %>" alt="<%= @vendor.title %> Logo" />

      </div>

      <div class="card-footer text-muted text-xs-center">
        <div class=""><%= link_to 'Remove Logo', remove_logo_vendor_path(@vendor) %></div>
      </div>
    </div>
  </div>

  <div class=" col-xs-12 col-md-6">
    <div class="card">
      <div class="card-header text-xs-center">
        Logo Form
      </div>
      <div class="card-block">
        <%= render 'picture_form' , vendor: @vendor %>
      </div>
    </div>
  </div>
</div>


<hr/>

<h3 class="clearfix">Passwords</h3>


<div class="card ">
  <div class="card-header text-xs-center">
    Passwords Form
  </div>
  <div class="card-block">
    <%= render 'uploads/form' , upload: @upload %>
  </div>
</div>

<hr/>

<h3 class="clearfix">Vendor Logon form</h3>


<div class="card ">
  <div class="card-header text-xs-center">
    Vendor Logon form
  </div>
  <div class="card-block">
    <%= render 'logonform' , vendor: @vendor %>
  </div>
</div>
