<%= form_for(upload) do |f| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row" >
    <%= f.hidden_field :vendor_id, :value => upload.vendor_id%>
    <%= f.label 'Vendor', :class => " col-form-label", :for => "title" %>

    <label class="form-control" id="title"><%= upload.vendor.title  if upload.vendor != nil %></label>


  </div>

  <div class="form-group row">

    <%= f.label 'Select CSV File', :class => " col-form-label", :for => "upload[file]" %>
    <%= f.file_field :file, as: :file , :class => "form-control"%>
    <small id="fileHelp" class="form-text text-muted">CSV File with passwords. No Header need and the columns should be email,username, and password</small>


  </div>

  <div class="actions text-xs-center">
    <%= f.submit 'Create Upload', :class => 'btn btn-default'  %>
  </div>
<% end %>
