<div class="card" style="margin-top:10px;">
  <div class="card-header">
    Uploads
  </div>
  <div class="card-block ">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Vendor</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @uploads.each do |upload| %>
          <tr>
            <td><%= upload.id %></td>
            <td><%= upload.vendor.title %></td>
            <td><%= upload.created_at %></td>
            <td><%= upload.status_code %></td>
            <td><%= upload.comment %></td>
            <td><%= link_to 'Show', upload %></td>
            <td><%= link_to 'Re-run', rerun_upload_path(upload), :method => :put, :confirm => "Are you sure?" %></td>
            <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
