<p id="notice"><%= notice %></p>

<div class="card " style="margin-top:10px;">
  <div class="card-header text-center">
    Upload
  </div>
  <div class="card-block">
    <div class="form-group" >

      <%= label_tag 'vendor', 'Vendor', :class => "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <label class="form-control" id="title"><%= @upload.vendor.title  if @upload.vendor != nil %></label>
      </div>
    </div>

    <div class="form-group" >

      <%= label_tag 'created_at', 'Created at', :class => "col-xs-2  col-form-label" %>
      <div class="col-xs-10">
        <label class="form-control" id="created_at"><%= @upload.created_at %></label>
      </div>
    </div>

    <div class="form-group">

      <%= label_tag 'file', 'File Name', :class => "col-xs-2  col-form-label" %>

      <div class="col-xs-10">
        <label class="form-control" id="file"><a href="<%= @upload.file %>" ><%= "#{request.base_url}#{@upload.file}" %></a></label>
        <small id="fileHelp" class="form-text text-muted">CSV File with passwords. No Header need and the columns should be email,username, and password</small>
      </div>

    </div>

    <div class="form-group">

      <%= label_tag 'status', 'Status', :class => "col-xs-2  col-form-label" %>

      <div class="col-xs-10">
        <label class="form-control" id="status"><%= @upload.status_code %></label>
      </div>

    </div>



    <div class="text-center">
      <%= link_to 'Destroy', @upload, method: :delete, data: { confirm: 'Are you sure you want to remove the file?' } , :class => 'btn btn-secondary'%> |
      <td><%= link_to 'Re-run', rerun_upload_path(@upload), :method => :put, data: { :confirm => "Are you sure you want to re-run the import?"}, :class => 'btn btn-secondary' %></td>
      <%= link_to 'Back', uploads_path, :class => 'btn btn-secondary' %>
    </div>
  </div>
</div>
