<!DOCTYPE html>
<html>
  <head>
    <title>Mypuhsd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="/">MyPUHSD</a>

            <% if current_user && current_user.admin? %>
              <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
              </button>
            <% end %>
            <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">

            <ul class="nav navbar-nav">
              <li class="nav-item">
                <% if policy(User).index? %>
                  <%= link_to "Users".html_safe, users_path, :class => 'btn' %>
                <% end %>
              </li>
              <li class="nav-item">
                <% if policy(Vendor).index? %>
                  <%= link_to "Vendors".html_safe, vendors_path, :class => 'btn' %>
                <% end %>
              </li>
              <li class="nav-item">
                <% if policy(Upload).index? %>
                  <%= link_to "Uploads".html_safe, uploads_path, :class => 'btn' %>
                <% end %>
              </li>
              <li class="nav-item">
                <% if policy(User).import? %>
                  <%= link_to "<i class='fa fa-refresh'></i> Full LDAP Sync".html_safe, import_users_path, :method => :get, :class => 'btn' %>
                <% end %>
              </li>
            </ul>

            <ul class="nav navbar-nav pull-xs-right " >
              <li class="nav-item  hidden-sm-down">
                <% if current_user %>
                  <span class="hidden-md-down">Signed in as <strong><%= current_user.firstname %></strong>!</span>
                  <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn" %>
                <% else %>
                  <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn" %>
                <% end %>
              </li>
            </ul>


        </div>


          <ul class="nav navbar-nav pull-xs-right " >
            <li class="nav-item hidden-md-up">
              <% if current_user %>
                <a id="sign_out" class="btn" href="/signout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
              <% else %>
                <a id="sign_in" class="btn" href="/auth/google_oauth2"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
              <% end %>
            </li>
          </ul>





      </nav>
    </header>

    <div class="container">
      <% flash.each do |msg_type, message| %>
        <%= content_tag(:div, message, class: "alert #{bootstrap_class_for(msg_type)} alert-dismissible", role: 'alert') do %>
          <%= content_tag(:button, class: 'close', data: { dismiss: 'alert' }) do %>
            <%= content_tag(:span, '&times;'.html_safe, 'aria-hidden' => true) %>
            <%= content_tag(:span, 'Close', class: 'sr-only') %>
          <% end %>
          <%= message %>
        <% end %>
      <% end %>


      <%= yield %>
    </div>
  </body>
</html>
